######################
# Logs and databases #
######################
*\.log

####################
# Eclipse metadata #
####################
\.project
\.pydevproject
\.settings/

#############
# vim files #
#############
*\.swp

##########################
# Python complied source #
##########################
*\.pyc
*\.pyo
build/
dist/
docs/_build/
mob2exec/mobyle/common

##################################
# The files generate by coverage #
##################################

tests/.coverage
tests/htmlcov
